/* src/assets/styles/global.scss */
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
.button {
  color: #ff8c00; /* Orange text */
  background: transparent; /* Ingen bakgrund */
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s ease, transform 0.2s ease;
  border: solid 1px black; /* Svart border */
  cursor: pointer;
  text-align: center;
}

.button:hover {
  transform: scale(1.05); /* Lätt förstoring vid hovring */
  background: rgba(0, 0, 0, 0.1); /* Transparent svart bakgrund vid hovring */
}

.button:disabled {
  background: #ccc;
  cursor: not-allowed;
}

/* Specifik styling för mobilknappar */
@media (max-width: 768px) {
  .button {
    padding: 6px 10px; /* Mindre padding */
    font-size: 0.9rem; /* Mindre textstorlek */
  }

  /* Extra styling för mobilfavoritknapp */
  .favorite-btn {
    font-size: 1.5rem; /* Gör hjärtikonen större */
    border: none; /* Ta bort kant */
    background-color: transparent;
  }

  .favorite-btn:hover {
    transform: scale(1.2); /* Förstora hjärtikonen vid hovring */
  }

  .read-more-btn {
    font-size: 0.85rem; /* Mindre textstorlek */
  }
}
